@import 'bootstrap';

body {

  .app {
    padding: 0;
    height: 898px;
    background: url('/assets/images/background.jpg') no-repeat;
  }
}

.btn {
  width: 310px;
  background: $btn-default-bg;
  padding: 15px 0;
  text-align: center;
  text-transform: uppercase;
  color: $btn-default-color;
  display: block;
  border-radius: 8px;
  font-size: 1.7rem;
  transition: .3s all;

  &:focus,
  &:hover {
    background: $gray-light;
    text-decoration: none;
    color: $btn-default-color;
  }

  &.btn-small {
    width: 122px;
    padding: 6px 0;
    font-size: 1.2rem;
    text-transform: none;
  }
}
